<div style="padding-left: 5%; padding-right: 5%; padding-top: 2%;">
<div *ngFor="let addressBook of addressBookList" style="display: inline; padding-left: 2%; padding-right: 2%; padding-top: 2%">
  <button class="btn btn-outline-success" (click)="onShowContacts(addressBook)">
    {{ addressBook }}
  </button>
</div>
<br><hr>
<div>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">
          {{ isUniqueContacts ? "Serial Number" : "Contact Id" }}
        </th>
        <th scope="col">Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col" *ngIf="!isUniqueContacts">AddressBook Name</th>
        <th scope="col" *ngIf="!isUniqueContacts">Action</th>
      </tr>
    </thead>
    <tbody *ngIf="isContactDetailsPresent">
      <tr *ngFor="let contact of contactDetailsList; let index = index">
        <th scope="row">{{ isUniqueContacts ? index + 1 : contact.id }}</th>
        <td *ngIf="!isUpdateMode[index]">{{ contact.fullName }}</td>
        <td *ngIf="isUpdateMode[index]"><input type="text" [value]="contact.fullName" [(ngModel)]="contact.fullName"></td>
        <td *ngIf="!isUpdateMode[index]">{{ contact.phoneNumber }}</td>
        <td *ngIf="isUpdateMode[index]"><input type="number" [value]="contact.phoneNumber" [(ngModel)]="contact.phoneNumber"></td>
        <td *ngIf="!isUniqueContacts">{{ contact.addressBookName }}</td>
        <td *ngIf="!isUniqueContacts">
          <button
            class="btn btn-success btn-sm"
            type="button"
            (click)="onClickUpdate(index, contact.id, contact.fullName, contact.phoneNumber, contact.addressBookName)"
           
          >
            {{ isUpdateMode[index]? 'Save' : 'Update' }}</button
          >&nbsp;<button *ngIf="!isUpdateMode[index]" class="btn btn-danger btn-sm" type="button" (click)="onDelete(contact.id, contact.addressBookName)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <h4 class="text-center" *ngIf="!isContactDetailsPresent">
    {{ noContactsFoundMessage }}
  </h4>
</div>
</div>
