<div
  class="col-xm-8"
  style="padding-left: 10%; padding-right: 10%; padding-top: 5%"
>
  <form [formGroup]="addContactForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="nameInput" class="form-label">Your Name</label>
      <input
        type="text"
        class="form-control"
        id="nameInput"
        formControlName="nameInput"
      />
      <span *ngIf="!addContactForm.get('nameInput').valid && addContactForm.get('nameInput').touched">
        <span *ngIf="addContactForm.get('nameInput').errors['required']" style="color: red;">Name is required</span>
      </span>
    </div>
    <div class="mb-3">
      <label for="phoneNumberInput" class="form-label">Your Phone Number</label>
      <input
        type="number"
        class="form-control"
        id="phoneNumberInput"
        formControlName="phoneNumberInput"
      />
      <span *ngIf="!addContactForm.get('phoneNumberInput').valid && addContactForm.get('phoneNumberInput').touched">
        <span *ngIf="addContactForm.get('phoneNumberInput').errors['required']" style="color: red;">Contact number is required</span>
      </span>
    </div>
    <div class="mb-3">
      <label for="addressBookInput" class="form-label"
        >Choose Address Book</label
      ><br />
      <select formControlName="addressBookInput" id="addressBookInput">
        <option
          *ngFor="let addressBook of addressBookList"
          [value]="addressBook"
          id="addressBookInput"
        >
          {{ addressBook }}
        </option>
      </select>
      <br>
      <span *ngIf="!addContactForm.get('addressBookInput').valid && addContactForm.get('addressBookInput').touched">
        <span *ngIf="addContactForm.get('addressBookInput').errors['required']" style="color: red;">Please choose address book</span>
      </span>
    </div>
    <button type="submit" class="btn btn-success" [disabled]="addContactForm.invalid">Submit</button>
  </form>
</div>
