<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" [routerLink]="['/']">Home</a>
          </li>
          &nbsp; &nbsp;
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" [routerLink]="['/show-contacts']">Show Contact</a>
          </li>
          &nbsp; &nbsp;
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" [routerLink]="['/add-contacts']">Add Contact</a>
          </li>
          &nbsp; &nbsp;
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" [routerLink]="['add-addressbook']">Add AddressBook</a>
          </li>

        </ul>
        
      </div>
    </div>
  </nav>