<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="updateContactForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="nameInput" class="form-label">Name</label>
              <input type="text" class="form-control" id="nameInput" formControlName="nameInput">
            </div>
            <div class="mb-3">
                <label for="phoneNumberInput" class="form-label">Name</label>
                <input type="number" class="form-control" id="phoneNumberInput" formControlName="phoneNumberInput">
            </div>
            <div class="mb-3">
                <label for="addressBookInput" class="form-label">Name</label>
                <input type="string" class="form-control" id="addressBookInput" formControlName="addressBookInput">
            </div>
            <button type="submit" class="btn btn-primary">Update Contact</button>
          </form>
    </div>
</div>
