
<div style="padding-left: 10%; padding-right: 10%; padding-top: 5%;">
    <table class="table table-dark table-striped">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Address Book Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let addressBook of addressBookList; let index=index">
              <th scope="row">{{ index + 1 }}</th>
              <td #addressBookName>{{ addressBook }}</td>
              <td><button class="btn btn-danger" (click)="onDelete(addressBook)">Delete</button></td>
            </tr>
            </tbody>
      </table>
</div>