
<div style="padding-left: 10%; padding-right: 10%; padding-top: 5%;">
    <form [formGroup]="addAddressBookForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="addressBookInput" class="form-label">New Address Book Name</label>
          <input type="text" class="form-control" id="addressBookInput" formControlName="addressBookInput"/>
          <span class="help-block"
          *ngIf="!addAddressBookForm.get('addressBookInput').valid && addAddressBookForm.get('addressBookInput').touched">
          <span *ngIf="addAddressBookForm.get('addressBookInput').errors['required']" style="color: red;">Address book name is required</span>  
        </span>
        </div>
        <button type="submit" class="btn btn-success" [disabled]="addAddressBookForm.invalid">Submit</button>
      </form>
</div>
  